* {
    box-sizing: border-box;
}

:root {
    --primary-color: #5e6085;
    --secondary-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
/* Common */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;

    display: inline-block;
    text-align: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
}
/* Header */
.header {
    padding: 26px 0;
}

.header___inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    width: 37px;
    height: 37px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 18px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
}

.navbar__link:hover {
    color: var(--secondary-color);
    font-size: 1.4rem;
    text-shadow: -1px 0 currentColor;
}

.header-action__link:hover {
    background-color: #000958;
    color: #fff;
}

.header-action__link {
    --height: 50px;
    min-width: 118px;
    margin-left: 36px;
    transition: background-color, color, 0.5s ease-in-out;
}

/* HERO */
.hero {
    padding: 74px 0;
}

.hero__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
/* HERO MEDIA */
.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}
.hero__thumb-big {
    border: 3px solid #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
}

/* Big picture */
.thumb-big {
    max-width: 457.238px;
    max-height: 828.145px;
    border-radius: 16px;
    object-fit: contain;
}

.hero-decorator {
    position: absolute;
    z-index: -1;
}

.decorator-1 {
    bottom: 10px;
    left: -58px;
}

.decorator-2 {
    top: 17px;
    right: -45px;
}

/* Small picture */
.hero__thumb-small {
    position: relative;
    margin-left: -24px;
    margin-bottom: -56px;
    border: 2px solid #fcdde0;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
}

.thumb-small {
    object-fit: contain;
    max-width: 182px;
    max-height: 276px;
}
/* List */
.hero__list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero__list-wrapper {
    position: absolute;
    left: 130px;
    bottom: 0;
    display: flex;
    flex-direction: column;

    padding: 18px 14px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__separator {
    margin: 19px 0;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
}

.hero__list-thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: var(--background, #fec23f);
    overflow: hidden;
}

.hero__list-title {
    color: #181e52;
    font-family: Sora;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}

.hero__list-skeleton {
    margin-top: 7px;
    width: var(--width, 120px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
/* Hero CONTENT */
.hero__content {
}

.hero__title {
    color: #000958;
    font-family: Sora;
    font-size: 66px;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    max-width: 390px;
    margin-top: 24px;
    color: #656689;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
}

.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.hero__action-link {
    min-width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    border-radius: 31px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border: none;
}

.hero__action-contact {
    color: #000958;
    text-align: center;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
}
